body{
    background-image: linear-gradient(to right, #134054, #091c24);}

.jumbotron{
	padding: 20px 0 0 180px;
	background-color: #001219;
	color: #d9d9d9;
	text-align: center;
	height: 150px;
}
.jumbotron .container{
	font-family: lobster;
	padding: 0;
}
main{
	margin-left: 200px;
}
.form-control{
	margin-left: 190px;
}
#scrollUp {
	font-family: "Champagne & Limousines";
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    border-radius: 5px 5px 5px 5px;
    background-color: #001219;
    color: #d9d9d9;
}
.hide img{
	width: 20px;
	height: 25px;
	margin: 0 22px 0 22px;
}
.card-text{
	display: inline-block;
				max-height: 150px;
				overflow: auto;
}
