footer {
  display: flex;
  width: 100%;
  background: #d9d9d9;
}
#title_footer {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20PX;
}

#foot_left {
display: flex;
justify-content: center;
}

#map{
position: relative;
right:100px;
bottom:30px;
border : 2px solid transparent;
border-radius: 5px;
transition: border 1s;
width: 600px;
height: 380px;
}

#map:hover{
  border: 2px solid #031F2A;

}

#logo_foot {
  background-image: url('../img/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 150px;
  height: 75px;
  display: flex;
  transform: scale(1) translateY(0px);
  transition: 1s;
  transition-delay: 1s;
}
#logo_foot:hover {
  transform: scale(1.5) translateY(10px);
  transition: 1s;
  transition-delay: 1s;
}
#foot_right {
  flex-direction: row;
  justify-content: space-around;
  display: flex;
  color : #031f2a;
}
#foot_right_left {
  margin-top: 20px;
  display: flex;
}
#foot_right_right {
  margin-top: 20px;
  display: flex;
}
ul {
  list-style: none;
  padding-left: 0%;
}
ul a {
  color: #031f2a;
  text-decoration: none;
}
li {
  line-height: 30px;
}

@media screen and (min-width: 1200px) {
  footer {
    flex-direction: row;
  }
  #foot_left {
    width: 50%;
    margin-top: 40px;
    justify-content: flex-end;
  }
  #foot_right {
    width: 50%;
  }
}

@media screen and (min-width: 573px) and (max-width: 1200px) {
  footer {
    flex-direction: column;
  }
  #foot_left {
    width: 100%;
    justify-content: center;
  }
  #foot_right {
    width: 100%;
    margin-top: 30px;
  }
  #logo_foot {
    margin-top: 30px;
  }
}
@media screen and (max-width: 575px) {
  footer {
    flex-direction: column;
  }
  #foot_left {
    width: 100%;
    justify-content: center;
  }
  #foot_right {
    width: 100%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  #foot_right_left, #foot_right_right {
    justify-content: center;
  }
  #logo_foot {
    margin-top: 30px;
  }
}
