body{
    background-image: linear-gradient(to right, #134054, #091c24);}
#left{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 200px;
	height: 100%;
	background-color: #123d4f;
}
#left h1{
	font-family: lobster;
	color: #d9d9d9;
	text-align: center;
}#left a{
	font-family: "lobster";
	color: #001219;
}
#left label, button, #profil_pseudo{
	font-family: "Champagne & Limousines";
	border-radius: 20px;
}
#profil_pseudo{
	margin-top: 25px;
}
.btn-block{
	margin-bottom: 20px;
}
.bcb{
	width: 100%;
	margin-top: 5px;
}
.list-group a{
	margin-top: 30px;
}
.navbar{
	background-color: #123d4f;
	padding: 10px 0 10px 0;
	display: flex;
	justify-content: center;
	width: 100%;
}
.rounded-circle{
	margin-right: 10px;
}
.btn-outline-light{
	border:0;
	background-color: #123d4f;
	padding: 0 10px 0 10px;
}
.btn-right{
	display: flex;
	justify-content: flex-end;
}
.jumbotron{
	padding: 20px 0 0 180px;
	background-color: #001219;
	color: #d9d9d9;
	text-align: center;
	height: 150px;
}
.jumbotron .container{
	font-family: lobster;
	padding: 0;
}
main{
	margin-left: 200px;
}
.form-control{
	margin-left: 190px;
}
#scrollUp {
	font-family: "Champagne & Limousines";
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    border-radius: 5px 5px 5px 5px;
    background-color: #001219;
    color: #d9d9d9;
}
.hide img{
	width: 20px;
	height: 25px;
	margin: 0 22px 0 22px;
}
.card-text{
	display: inline-block;
				max-height: 150px;
				overflow: auto;
}
