#formulaire {
	font-size: 1.5em;
}
.btn {
	background:green ;
	border: green;
}
body {
	color:white;
    background: #031f2a;
	position: center;
	/* margin:0px;
	padding:0px; */
}
/* #main {
	width: 98%;
	position: center;
} */
header, footer {
	/* width: 98%; */
	color:#031f2a;
	background:#D9D9D9;
	/* margin:0px;
	padding:0px; */
}
h2 {
    color: grey;
}
#quickconnect {
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
	padding-bottom: 1em;
    background: #D9D9D9;
	justify-content : end;
}
h3 {
	display : flex;
	flex-wrap : wrap;
	font-weight: bold;
}
p {
	margin:0px;
	padding:0px;
}
#logo_footer {
	max-height:8em;
	padding-left:1em;
}
#logo_header {
	height:3em;
}
ul.SansPuce {
  list-style-type: none;
}

.valid, .valid:focus {
	background-color: #7FDD4C;
}
.error, .error:focus {
	background-color: #fba;
}
#prenoms {
	margin-left : 1em;
}
.list {
	height: 30px ;
}
#symb2, #gender {
	text-align: center;
	padding-bottom: 1em;
}
.img-circle {
	border-radius: 50%;
	text-align: center;
	justify-content: end;
}
.row {
	margin: 0px;
	padding: 0px;
	width : 100%;
}
.form-row {
	margin: 0px;
	padding: 0px;
	width : 100%;
}
#form_crea {
	margin: 0px;
	padding: 0px;
	width : 100%;
}